In [ ]:
#W6A1
a=list(map(int,input().split()))
d=[]
for x in a:
  if x not in d:
    d.append(x)
print(d)

10 9 8 9 10 8 7
[10, 9, 8, 7]

In [ ]:
#W6A2
a=list(map(int,input().split()))
n=len(a)
d=[a[0]]
for i in range(1,n):
  d.append(sum(a[0:i+1]))
print(d)

1 2 3 4
[1, 3, 6, 10]

In [ ]:
#W6A3
a=list(map(int,input().split()))
k=int(input())
if k>=len(a):
  k%=len(a)
s=a[k:]+(a[:k])
print(tuple(s))

1 2 3 4 5
7
(3, 4, 5, 1, 2)

In [ ]:
#W6A4
s=input()
pairs=s.split()
d={}
for item in pairs:
  key,val=item.split(':')
  if key not in d:
    d[key]=val
  else:
    s=list(d[key])
    s.append(val)
    d[key]=s
print(d)

a:1 b:2 a:3
{'a': ['1', '3'], 'b': '2'}

In [ ]:
#W6A5
a=list(map(int,input().split()))
d={'positives':0,'negatives':0,'zeros':0}
for x in a:
  if x > 0:
    d['positives']+=1
  elif x < 0:
    d['negatives']+=1
  else:
    d['zeros']+=1
print(d)

1 -2 0 3 -4 0 0
{'positives': 2, 'negatives': 2, 'zeros': 3}

In [ ]:
#W6A6
a=list(map(int,input().split()))
print(sum(a))

100 200 300
600

In [ ]:
#W6A7
a=tuple(map(str,input().split()))
print(a[0],a[-1],sep=' ',end=' ')
print(tuple(reversed(a)))

5 8 2 7 1 4
5 4 ('4', '1', '7', '2', '8', '5')

In [ ]:
#W6A8
a=list(map(str,input().split()))
d=dict({})
for ch in a:
  if ch not in d:
    d[ch]=1
  else:
    d[ch]+=1
print(d)

a b a a c
{'a': 3, 'b': 1, 'c': 1}

In [110]:
#W6A9
import ast
a=ast.literal_eval(input())
b=ast.literal_eval(input())
c={}
for x in a:
  c[x]=a[x]
for x in b:
  if x in c:
    c[x]+=b[x]
  else:
    c[x]=b[x]

print(c)

{'a':1}
{'a':2}
{'a': 3}

In [ ]:

#W6A10
def binary_search(a,x,l,r):
  while l<=r:
    m=(l+r)//2
    if a[m]==x:
      return True
    elif a[m]> x:
      r=m-1
    else:
      l=m+1
  return False

a=list(map(int,input().split()))
k=int(input())
d=[]
for i in range(len(a)):
  if binary_search(a,k-a[i],i+1,len(a)-1):
    if (a[i],k-a[i]) not in d:
      d.append((a[i],k-a[i]))
d.sort(key=lambda x: x[0])
print(d)

10 5 -5 0
5
[(5, 0), (10, -5)]

In [ ]:
#W6A11
d=list(map(int,input().split()))
a=[]
b=[]
for x in d:
  if x % 2 == 0:
    a.append(x)
  else:
    b.append(x)
print(tuple(a),tuple(b),sep='\n')

1 10 2 9 3 8 4 7 5
(10, 2, 8, 4)
(1, 9, 3, 7, 5)

In [56]:
#W6A12
a=list(map(int,input().split()))
d={}
for x in a:
  if x not in d:
    d[x]=1
  else:
    d[x]+=1
b=[]
max_fre=max(d.values())
for x in d.keys():
  if d[x]==max_fre:
    b.append(x)
print(min(b))

-1 -2 -3 -1 -3 -4
-3

In [63]:
#W6A13
a=list(map(str,input().split()))
d={}
for i in range(0,len(a),2):
  d[a[i]]=a[i+1]
e={}
for k,v in d.items():
  e[v]=k
print(e)

code A-1 user B_2
{'A-1': 'code', 'B_2': 'user'}

In [67]:
#W6A14
a = [] if s == "" else list(map(int, input().split()))
b = [] if s == "" else list(map(int, input().split()))
d=[]
for x in a:
  if x in b and x not in d:
    d.append(x)
print(d)

1 2 3

[]

In [74]:
#W6A15
a=list(map(str,input().split()))
k=int(input())
d={}
for i in range(0,len(a)-1,2):
  d[a[i]]=int(a[i+1])
e={x:v for x,v in d.items() if int(v) > k}
print(e)

x -5 y -10 z -2
-8
{'x': -5, 'z': -2}

In [111]:
# W6A16
n, m = map(int, input().split())
a = [list(map(int, input().split())) for _ in range(n)]

for row in a:
    for x in row:
        print(f"{x:>4}", end="")
    print()

5 5
1 2 3 4 5
234 56 78 9 7
345 654 65 2 -1
2 3 4 6 8
2 3 4 5 6
   1   2   3   4   5
 234  56  78   9   7
 345 654  65   2  -1
   2   3   4   6   8
   2   3   4   5   6

In [ ]:
#W6A17
n=int(input())
a=[]
for i in range(n):
  b=list(map(int,input().split()))
  a.append(b)
for i in range(n):
  for j in range(n):
    if i == j:
      print(a[i][j],end=' ')
print()
for i in range(n):
  for j in range(n):
    if i+j==n-1:
      print(a[i][j],end=' ')

1 6 3 8
4 7 2 5

In [104]:
#W6A18
n,m,k=map(int,input().split())
a=[]
for i in range(n):
  b=list(map(int,input().split()))
  a.append(b)
sum_n=sum(a[k-1])
sum_m=sum(a[i][k-1] for i in range(n))
print(sum_n,sum_m,sep='\n')

3 3 1
1 2 3
4 5 6
7 8 9
6
12

In [89]:
#W6A19
a=list(map(int,input().split()))
s=max(a)
print(a.index(s)+1)

2 45 67 12 90 23
5

In [86]:
#W6A20
a=list(map(int,input().split()))
k=int(input())
if k not in a:
  print(-1)
else:
  print(a.index(k)+1)

1 2 3 4 5 6 7 8 19 1 2 3 4 5
5
5

In [85]:
#W6A21
a=list(map(str,input().split()))
d=dict({})
for x in a:
  if x not in d:
      d[x]=[]
for i in range (len(a)):
  d[a[i]].append(i)
for k in d:
  d[k]=tuple(d[k])
print(d)

cat dog cat mouse
{'cat': (0, 2), 'dog': (1,), 'mouse': (3,)}

In [77]:
#W6A22
a=list(map(int,input().split()))
print(a.index(max(a))+1)

34 25 67 89 100 1000
6